body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #F8EEE7;
    color: black;
}

#main-container {
    padding: 5px;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

#introduction_content,
#rendering_content,
#installation_content,
#integration_content,
#accessibility_content,
#colors_content,
#data_structures_content,
#fonts_content,
#chart_types_content,
#area_chart_content,
#bar_chart_content,
#bubble_chart_content,
#doughnut_chart_content,
#pie_chart_content,
#line_chart_content,
#mixed_chart_content,
#polar_area_chart_content,
#radar_chart_conten,
#scatter_chart_content,
#mistakes_content,
#tips_content,
#resources_content
{
    padding-top: 30px;
}

.nav-menu {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #94618E;
}

.nav-menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
}

.nav-menu .active {
    background-color: #49274A;
    color: white;
}

.nav-menu .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #94618E;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-menu a:hover,
.dropdown:hover .dropbtn {
    background-color: #49274A;
    color: white;
}

.dropdown-content a:hover {
    background-color: #49274A;
    border-radius: 20px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #49274A;
    margin: 10px 0px;
}

p {
    font-size: large;
}

.codeToggleButton{
    background-color: #94618E;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    border-color: #94618E;
    padding: 7px;
}

.hidden {
    display: none;
}

.bolded {
    font-weight: bold;
    font-style: italic;
    color: #FE6383;
}

.example {
    color: rgb(240, 153, 21);
}

.anti-example {
    color: #d33c31;
}

.code-container {
    text-align: left;
    font-size: 15px;
    background-color: white;
    padding: 5px;
    margin: 2px;
    overflow: auto;
    width: 80%;
    border: 0.2rem solid rgb(61, 59, 59);
}

.code-container pre {
    white-space: pre-line
}

.code-purple {
    font-weight: bold;
    color: purple;
}

.code-pink {
    font-weight: bold;
    color: rgb(240, 60, 120);
}

.code-lavender {
    font-weight: bold;
    color: rgb(175, 88, 175);
}

.code-green {
    font-weight: bold;
    color: rgb(121, 193, 33);
}

.bolded-text {
    font-weight: bold;
}

.square-blue {
    height: 50px;
    width: 50px;
    background-color: #36A2EB;
}

.square-pink {
    height: 50px;
    width: 50px;
    background-color: #FE6383;
}

.square-green {
    height: 50px;
    width: 50px;
    background-color: #4CC0C0;
}

.square-orange {
    height: 50px;
    width: 50px;
    background-color: #FF9F40;
}

.square-purple {
    height: 50px;
    width: 50px;
    background-color: #9966FF;
}

.square-yellow {
    height: 50px;
    width: 50px;
    background-color: #FFCC56;
}

.square-grey {
    height: 50px;
    width: 50px;
    background-color: #CACBCF;
}

#chartjs-default-colors-list p {
    float: left;
    display: block;
    text-decoration: none;
    margin: 5px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

td,
th {
    border: 2px solid #49274A;
    text-align: left;
    padding: 8px;
}

tr:first-child {
    background-color: rgb(175, 88, 175);
}

#chart-types-list a {
    float: left;
    display: block;
    margin: 10px;
    text-align: center;
    color: #49274A;
    font-weight: bold;
    text-decoration: none;
}

#chart-types-list a:hover {
    color: #FE6383;
}

#chart-types-list img {
    width: 60px;
    height: 60px;
}

#chart-types-list .active {
    color: #FE6383;
    padding: 1px;
    border-radius: 10%;
}

.chart-canva {
    height: 300px;
    width: 600px;
}

#mistakes_content h3 {
    color: #FE6383;
}

#mistakes_content h3:hover{
    color: rgb(175, 88, 175);
}

#tips_content h3 {
    color: #FE6383;
}

#tips_content h3:hover{
    color: rgb(175, 88, 175);
}

#resources_content a {
    text-decoration: none;
    color: rgb(175, 88, 175);
    font-weight: bold;
}

@media screen and (max-width: 600px) {

    .nav-menu a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .nav-menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {

    .nav-menu a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav-menu.responsive {
        position: relative;
    }

    .nav-menu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav-menu.responsive .dropdown {
        float: none;
    }

    .nav-menu.responsive .dropdown-content {
        position: relative;
    }

    .nav-menu.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}